<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADBannerAdID</key>
	<string>ca-app-pub-8092077340719182/1348152099</string>
	<key>areIAPsEnabled</key>
	<true/>
	<key>revenueCatApiKey</key>
	<string>appl_XnjQYrhRdrIQdPtXGGXrzkaUpmc</string>
</dict>
</plist>
